.version.events /* version checker */
{
	color: #00000A;
	background-color: #116E23;
}

.html
{
	background-color: #998675;
}

#page
{
	z-index: 1;
	width: 860px;
	min-height: 769px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
}

#pu961
{
	width: 0.01px;
}

#u961
{
	z-index: 2;
	width: 860px;
	min-height: 100px;
	margin-right: -10000px;
}

#u417
{
	z-index: 4;
	width: 860px;
	margin-right: -10000px;
	margin-top: 38px;
}

#u773
{
	z-index: 13;
	width: 661px;
	margin-right: -10000px;
	margin-top: 154px;
	left: 99px;
}

#pamphletu645
{
	z-index: 14;
	width: 0.01px;
	height: 176px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u646popup
{
	z-index: 15;
}

#u646
{
	width: 661px;
}

#u661
{
	z-index: 16;
	width: 661px;
	height: 194px;
	margin-right: -10000px;
}

#u789
{
	z-index: 17;
	width: 660px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u806
{
	z-index: 19;
	width: 661px;
	height: 194px;
	margin-right: -10000px;
}

#u812
{
	z-index: 20;
	width: 660px;
	margin-right: -10000px;
	margin-top: 17px;
}

#u819-3
{
	z-index: 22;
	width: 341px;
	min-height: 108px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 20px;
}

#u670
{
	z-index: 25;
	width: 28px;
	margin-right: -10000px;
	margin-top: 166px;
	left: 26px;
}

#u672
{
	width: 9px;
	height: 10px;
}

#u672:hover
{
	margin: 0px;
}

#u811
{
	width: 9px;
	height: 10px;
	left: 19px;
}

#u672.PamphletThumbSelected,#u811:hover
{
	margin: 0px;
}

#pu75
{
	width: 0.01px;
	padding-bottom: 70px;
	margin-left: 88px;
	margin-top: -307px;
}

#u75
{
	z-index: 52;
	width: 683px;
	top: 79px;
	left: 50%;
	margin-left: -342px;
}

#u75_img
{
	padding-right: 1px;
	padding-bottom: 2px;
}

#u506
{
	z-index: 85;
	width: 222px;
	top: 89px;
	left: 50%;
	margin-left: -322px;
}

#menuu330
{
	z-index: 54;
	width: 373px;
	top: 100px;
	left: 50%;
	margin-left: -56px;
}

#u338
{
	width: 87px;
	min-height: 14px;
	margin-right: -10000px;
}

#u341
{
	width: 80px;
	padding-left: 3px;
	padding-right: 4px;
}

#u811.PamphletThumbSelected,#u341:hover
{
	margin: 0px;
}

#u344-4
{
	width: 80px;
	min-height: 14px;
}

#u341:hover #u344-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u345
{
	width: 78px;
	min-height: 14px;
	margin-right: -10000px;
	left: 89px;
}

#u348
{
	width: 71px;
	padding-left: 3px;
	padding-right: 4px;
}

#u341.MuseMenuActive,#u348:hover
{
	margin: 0px;
}

#u351-4
{
	width: 71px;
	min-height: 14px;
}

#u341.MuseMenuActive #u344-4,#u348:hover #u351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u469
{
	width: 79px;
	min-height: 14px;
	margin-right: -10000px;
	left: 169px;
}

#u470
{
	width: 72px;
	padding-left: 3px;
	padding-right: 4px;
}

#u348.MuseMenuActive,#u470:hover
{
	margin: 0px;
}

#u471-4
{
	width: 72px;
	min-height: 14px;
}

#u348.MuseMenuActive #u351-4,#u470:hover #u471-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u352
{
	width: 56px;
	min-height: 14px;
	margin-right: -10000px;
	left: 250px;
}

#u353
{
	width: 49px;
	padding-left: 3px;
	padding-right: 4px;
}

#u470.MuseMenuActive,#u353:hover
{
	margin: 0px;
}

#u354-4
{
	width: 49px;
	min-height: 14px;
}

#u470.MuseMenuActive #u471-4,#u353:hover #u354-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u359
{
	width: 65px;
	min-height: 14px;
	margin-right: -10000px;
	left: 308px;
}

#u362
{
	width: 59px;
	padding-left: 3px;
	padding-right: 3px;
}

#u353.MuseMenuActive,#u362:hover
{
	margin: 0px;
}

#u362.MuseMenuActive
{
	margin: 0px;
}

#u363-4
{
	width: 59px;
	min-height: 14px;
}

#u353.MuseMenuActive #u354-4,#u362:hover #u363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u362.MuseMenuActive #u363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px;
}

#u453
{
	z-index: 12;
	width: 860px;
	height: 12px;
	top: -6px;
	margin-bottom: -6px;
}

#pu865-6
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 27px;
}

#u865-6
{
	z-index: 28;
	width: 258px;
	min-height: 416px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 501px;
}

#u865-2
{
	font-size: 18px;
	line-height: 27px;
}

#u865-4
{
	line-height: 21px;
}

#u919-10
{
	z-index: 34;
	width: 367px;
	min-height: 227px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u919-2,#u919-3,#u919-7
{
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u920
{
	z-index: 44;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 503px;
}

#u1144
{
	z-index: 46;
	width: 299px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
}

#u1150
{
	z-index: 48;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 541px;
}

#u1156
{
	z-index: 50;
	width: 243px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 298px;
}

#u1156_img
{
	margin-right: -1px;
}

#pu950
{
	width: 0.01px;
	margin-top: 1px;
}

#u950
{
	z-index: 3;
	width: 860px;
	min-height: 100px;
	margin-right: -10000px;
}

#u436
{
	z-index: 6;
	width: 40px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 410px;
}

#u436_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u446-4
{
	z-index: 8;
	width: 392px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 234px;
}

body
{
	position: relative;
	min-width: 860px;
	padding-top: 20px;
	padding-bottom: 33px;
}

#page .verticalspacer
{
	clear: both;
}

